<table width="300px" border="1" style="border-collapse:collapse;background-color:#E8DCFF">
    <tr>
        <td><b><h9>Details</h9></b></td>
        <td></td>
    </tr>
    <tr>

        <td><h9>Income</h9></td>
        <td><h9><%= @quiz.income %></h9></td>
    </tr>
    <tr>

        <td><h9>Other Monthly Bills</h9></td>
        <td><h9><%= @quiz.other_bills %></h9></td>
        
    </tr>
    <tr>

        <td><h9>Monthly Car Payments</h9></td>
        <td><h9><%= @quiz.car_bills %></h9></td>
    </tr>
    <tr>
        <td><h9>Monthly House Payments</h9></td>
        <td><h9><%= @quiz.house_bills %></h9></td>
    </tr>
    <tr>
        <td><h9>Leisure</h9></td>
        <td><h9><%= @quiz.leisure %></h9></td>
    </tr>
    <tr>
 
        <td><h9>Current Car Value</h9></td>
        <td><h9><%= @quiz.car_value %></h9></td>
    </tr>
    <tr>

        <td><h9>Current House Value</h9></td>
        <td><h9><%=@quiz.house_value %></h9></td>
    </tr>
    <tr>

        <td><h9>Current Emergency Savings</h9></td>
        <td><h9><%= @quiz.esavings %></h9></td>
    </tr>
        <tr>

        <td><h9>Current Retirement Savings</h9></td>
        <td><h9><%= @quiz.rsavings %></h9></td>
    </tr>
        <tr>

        <td><h9>Current Investments</h9></td>
        <td><h9><%= @quiz.investments %></h9></td>
    </tr>

    </tr>
        <tr>

        <td><h9>Medical Loan</h9></td>
        <td><h9><%= @quiz.medical_loan %></h9></td>
    </tr>
    </tr>
        <tr>

        <td><h9>Student Loans</h9></td>
        <td><h9><%= @quiz.student_loan %></h9></td>
    </tr>
        </tr>
        <tr>
        <td><h9>Car Loan</h9></td>
        <td><h9><%= @quiz.car_loan %></h9></td>
    </tr>
    </tr>
        <tr>

        <td><h9>Personal Loan</h9></td>
        <td><h9><%= @quiz.personal_loan %></h9></td>
    </tr>
    <tr>

        <td><h9>Total Debt</h9></td>
        <td><h9><%= total_loans %></h9></td>
    </tr>
    
</table>
 