<section id="result1" data-type="background" data-speed="10" class="pages">   
    <div id="main">
        <div id="header" align="center">
            
        <h4><img src="<%= asset_path( 'savings.png' ) %>" alt="" style="height:5%"> Here's your report</h4>
        </div>
        <article>
            <br/>
            <div align="center" >
     
            <form id="resultsform" action="" style="width:670px;height:390px;background:#E4E4E4;padding:10px 10px 10px 10px;">
                
                <fieldset>
                    <legend><h4>Expenses </h4></legend>
                    <p><%= render 'total_expenses' %></p>
                    <p><%= render 'car_value_p' %></p><br/>
                </fieldset>
                <fieldset>
                    <legend><h4>Debt</h4></legend>
                    
                    <p><%= render 'total_loans' %></p><br/>
                    
                </fieldset>
                <fieldset>
                    <legend><h4>Thinking about the Future</h4></legend>
                    <p><%= render 'savings_p' %></p><br/>
                </fieldset>
                <fieldset>
                    <legend><h4>Housing expenses</h4></legend>
                    <p><%= render 'mortgage_p' %></p>
                    <br/> <br/>
                    <h9> <%= text_field_tag :email, 'email address'  %> <br/> <%= link_to "Send the Unbroke Report to your Email", sendrequest_path(@quiz), class: "btn-3" %></h9>
                    <br/><br/>
                    <p> <%= link_to "START AGAIN", root_path, class: "btn-3" %></p>
                    <br/><br/><br/>
                </fieldset>
            </form> 
            
            </div>
            <center>
           
            <p><%= render 'detailed_summary' %></p></center>
         </article>

    </div>
</section>
