<%= render 'jquery_script_janko' %>
    <div id="main">
        <div id="header">
            <img src="logo.jpg" alt="image credits here" />
            <h3>Put something here</h3>
            <p>If you are sharing expenses with a family members, please consider the questions as household income and expenses.</p>
        </div>
        <form id="bbform" action="create" method="post">
        <%= form_for @quiz, :remote => true, :html => { :id => "bbform"} do |f| %>

        <fieldset>
            <legend>Net Monthly Income</legend>
            <div class="field">
            <%= f.label :income %> <%= f.number_field :income, placeholder: '0' %> 
            </div>
        </fieldset>
        <fieldset>
            <legend>Bills, Bills, Bills</legend>
            
            <div class="field">
              <p>This is other bills suchas internet, phone plan, etc. </p>
            <%= f.label :other_bills %> <%= f.number_field :other_bills, placeholder: '0' %>
            
            </div>
            <div class="field">
              <p>How much do you spend for your car monthly, including car insurance, financing payments, maintenance, and gas?</p>
            <%= f.label :car_bills %> <%= f.number_field :car_bills, placeholder: '0' %>
            </div>
            <div class="field">
            <%= f.label :house_bills %> <%= f.number_field :house_bills, placeholder: '0' %>
            </div>

        </fieldset>
        <fieldset>
        <legend>Leisure</legend>
            
          <div class="field">
            <p>How much do you spend on leisure a month? This includes shopping, travel, sports, social events, eating out, movies, gambling, gym membership, etc.  </p>
            <%= f.label :leisure %> <%= f.number_field :leisure, placeholder: '0'%>
          </div>

        </fieldset>
        <fieldset>
            <legend>Assets</legend>

          <div class="field">
            <%= f.label :house_value %> <%= f.number_field :house_value, placeholder: '0' %>
          </div>
          <div class="field">
            <p>What is the current value of your car?</p>
            <%= f.label :car_value %> <%= f.number_field :car_value, placeholder: '0' %>
          </div>
          <div class="field">
            <%= f.label :investments %> <%= f.number_field :investments, placeholder: '0' %>
          </div>
          <div class="field">
            <%= f.label :esavings %> <%= f.number_field :esavings, placeholder: '0' %>
          </div>
          <div class="field">
            <%= f.label :rsavings %> <%= f.number_field :rsavings, placeholder: '0' %>
          </div>

        </fieldset>

        <fieldset>
            <legend>Borrowed Money</legend>
              <div class="field">
                <%= f.label :student_loan %> <%= f.number_field :student_loan, placeholder: '0' %>
              </div>
              <div class="field">
                <%= f.label :personal_loan %> <%= f.number_field :personal_loan, placeholder: '0' %>
              </div>
              <div class="field">
                <%= f.label :medical_loan %> <%= f.number_field :medical_loan, placeholder: '0' %>
              </div>
              <div class="field">
                <%= f.label :car_loan %> <%= f.number_field :car_loan, placeholder: '0' %>
              </div>
              <div class="field">
                <%= f.label :debt_repay %> <%=  f.check_box :debt_repay %>
              </div>
              <div class="field">
                <p>Monthly Debt Repayments</p>
                <%= f.label :debt_repay_value %> <%= f.number_field :debt_repay_value, placeholder: '0' %>
                
                
      </div>
     </fieldset>

            <%= f.submit "Submit Form", class: "btn btn-primary", id: "submitinfo" %>


        <% end %>
    </div>
    </form>
