<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :income %><br>
    <%= f.text_field :income %>
  </div>
  <div class="field">
    <%= f.label :other_bills %><br>
    <%= f.text_field :other_bills %>
  </div>
  <div class="field">
    <%= f.label :house_bills %><br>
    <%= f.text_field :house_bills %>
  </div>
  <div class="field">
    <%= f.label :car_bills %><br>
    <%= f.text_field :car_bills %>
  </div>
  <div class="field">
    <%= f.label :leisure %><br>
    <%= f.text_field :leisure %>
  </div>

  <div class="field">
    <%= f.label :house_value %><br>
    <%= f.text_field :house_value %>
  </div>
  <div class="field">
    <%= f.label :car_value %><br>
    <%= f.text_field :car_value %>
  </div>
  <div class="field">
    <%= f.label :esavings %><br>
    <%= f.text_field :esavings %>
  </div>
  <div class="field">
    <%= f.label :rsavings %><br>
    <%= f.text_field :rsavings %>
  </div>
  <div class="field">
    <%= f.label :investments %><br>
    <%= f.text_field :investments %>
  </div>
  <div class="field">
    <%= f.label :student_loan %><br>
    <%= f.text_field :student_loan %>
  </div>
  <div class="field">
    <%= f.label :personal_loan %><br>
    <%= f.text_field :personal_loan %>
  </div>
  <div class="field">
    <%= f.label :medical_loan %><br>
    <%= f.text_field :medical_loan %>
  </div>
  <div class="field">
    <%= f.label :personal_loan %><br>
    <%= f.text_field :personal_loan %>
  </div>
  <div class="field">
    <%= f.label :debt_repay %><br>
    <%= f.check_box :debt_repay %>
  </div>
  <div class="field">
    <%= f.label :debt_repay_value %><br>
    <%= f.text_field :debt_repay_value %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
